@media (max-width: 768px) {
  /* Default CSS */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }

  /* Common CSS */
  .headline-share {
    padding-top: 100px;
  }
  .headline-share h4 {
    margin-bottom: 20px;
  }
  .headline-share h2 > span {
    font-size: inherit;
  }

  /* inner centering */
  [class*="inner"] {
    width: 100%;
    padding: 0 20px;
  }

  /* #################### Header #################### */
  .gnb {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    padding-top: 70px;
    padding-left: 15px;
    background: #fff;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .gnb.active {
    right: 0;
  }
  .gnb.active:before {
    content: "";
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    right: 250px;
    width: 100vw;
    height: 100%;
    z-index: -999;
    pointer-events: none;
  }
  /* Trigger */
  .trigger {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 28px;
  }
  .trigger:before {
    content: "\F479";
    font-family: bootstrap-icons;
  }
  .trigger.active:before {
    content: "\F659";
  }

  /* #################### Section : welcome #################### */
  .welcome-content {
    flex-direction: column;
    padding-top: 160px;
    padding-bottom: 40px;
    gap: 20px;
  }
  .welcome-heading {
    padding-top: 0;
    text-align: center;
  }
  .welcome-img {
    width: 100%;
  }

  /* #################### Section : About #################### */
  .about-content {
    padding-bottom: 120px;
    gap: 0;
  }
  .about-detail {
    width: 100%;
  }
  .about-icons img {
    display: none;
  }
  .about-text {
    flex-direction: column;
    gap: 40px;
  }
  .about-text .line {
    width: 60px;
  }

  /* #################### Section : service #################### */
  .service-tab-btn > div {
    padding-bottom: 20px;
  }
  .service-tab-btn > div img {
    zoom: 0.7;
  }
  .service-tab-btn p {
    display: none;
  }
  /* Slick Slider */
  .service-slider {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .service-slider .slick-list {
    width: 100%;
  }
  .service-slider .slick-list .slick-slide {
    float: left;
  }
  .service-slider div img {
    width: 100%;
  }
  .service-slider .slick-dots {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 10px;
  }
  .service-slider .slick-dots > li {
    width: 100%;
    padding: 10px 10px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  .service-slider .slick-dots > li button {
    display: none;
  }
  .service-slider .slick-dots > li.slick-active {
    background: #1d4ed8;
    color: #fff;
  }
  .service-slider .slick-dots > li:after {
    margin-top: 10px;
    font-size: 14px;
  }

  /* tab01 - slick-dots */
  .service-tab.tab01 .service-slider .slick-dots > li:nth-child(1):before {
    content: "공동작업";
  }
  .service-tab.tab01 .service-slider .slick-dots > li:nth-child(2):before {
    content: "파일공유";
  }
  .service-tab.tab01 .service-slider .slick-dots > li:nth-child(3):before {
    content: "음성미팅";
  }
  .service-tab.tab01 .service-slider .slick-dots > li:nth-child(1):after {
    content: "실시간으로 함께 작업하세요!";
  }
  .service-tab.tab01 .service-slider .slick-dots > li:nth-child(2):after {
    content: "다양한 파일을 공유할 수 있어요.";
  }
  .service-tab.tab01 .service-slider .slick-dots > li:nth-child(3):after {
    content: "음성만으로 미팅을 진행하세요.";
  }
  /* tab02 - slick-dots */
  .service-tab.tab02 .service-slider .slick-dots > li:nth-child(1):before {
    content: "화면 래코딩";
  }
  .service-tab.tab02 .service-slider .slick-dots > li:nth-child(2):before {
    content: "테스트 관리";
  }
  .service-tab.tab02 .service-slider .slick-dots > li:nth-child(3):before {
    content: "피드백 생성";
  }
  .service-tab.tab02 .service-slider .slick-dots > li:nth-child(1):after {
    content: "단 한번의 클릭으로 업로드 해보세요.";
  }
  .service-tab.tab02 .service-slider .slick-dots > li:nth-child(2):after {
    content: "피드백을 테스크로 관리해보세요.";
  }
  .service-tab.tab02 .service-slider .slick-dots > li:nth-child(3):after {
    content: "리포트를 링크로 공유해보세요.";
  }
  .btn-more {
    width: 60%;
  }
  /* #################### Section : partners #################### */
  .partners {
    padding-bottom: 100px;
  }
  .partners-items {
    gap: 30px;
  }
  .partners-items img {
    width: 40%;
  }

  /* #################### Footer #################### */
  .footer-content {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .footer-content .logo {
    zoom: 0.8;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright .address span {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .copyright .policy a {
    font-size: 14px;
  }
  .copyright .policy a:first-child {
    margin-left: 0;
  }

  /* ################### Sub Page Modal : strum ################### */
  .product-main {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .main-content {
    flex-direction: column;
    gap: 40px;
  }
  .main-content .main-heading {
    padding-top: 0;
    text-align: center;
  }
  .main-content .main-heading h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .info-content {
    height: 200px;
  }
  .info-content h3 {
    zoom: 0.8;
  }
  .product-solution {
    padding-bottom: 100px;
  }
  .solution-headline {
    margin-bottom: 40px;
  }
  .solution-items {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
  }
  .solution-item-image {
    margin-bottom: 10px;
  }
  .solution-item-image img {
    width: 50%;
  }
  .detail-headline {
    margin-bottom: 40px;
  }
  .detail-item {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
  }
  .detail-items .detail-item:nth-child(1) .detail-item-image,
  .detail-items .detail-item:nth-child(3) .detail-item-image {
    order: 1;
  }
  .detail-items .detail-item:nth-child(1) .detail-item-desc,
  .detail-items .detail-item:nth-child(3) .detail-item-desc {
    order: 2;
  }
  .detail-item-desc h3 {
    margin-top: 20px;
  }
  .product-promote {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .promote-content {
    flex-direction: column;
    gap: 40px;
  }
  /* Featherlight Movile CSS */
  .featherlight .featherlight-close-icon {
    font-size: 24px;
    right: 20px;
    top: 32px;
  }
  .featherlight-inner {
    padding: 0 !important;
  }
}
