/* Bootstrap icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
  color: #222;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}
em {
  font-style: normal;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 24px;
}

/* Common CSS */
.headline-share {
  padding-top: 160px;
}
.headline-share h4 {
  color: #1d4ed8;
  font-weight: 500;
  margin-bottom: 30px;
}
.headline-share h2 > span {
  font-size: inherit;
  font-weight: 600;
}

/* Go to top */
.btn-top {
  position: fixed;
  right: 20px;
  bottom: -50px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 43px;
  text-align: center;
  transition: 0.5s;
  z-index: 9999;
}
.btn-top .bi {
  color: #fff;
}
.btn-top.active {
  bottom: 20px;
}
.btn-top:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* inner centering */
[class*="inner"] {
  width: 1300px;
  margin: auto;
}

/* #################### Header #################### */
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-content .logo img {
  width: 140px;
}
.gnb a {
  margin-left: 30px;
  font-weight: 400;
}
header.active {
  background: #fff;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

/* #################### Section : welcome #################### */
.welcome {
  background: #f0f4ff;
  padding-bottom: 60px;
}
.welcome-content {
  display: flex;
  justify-content: space-between;
  padding-top: 220px;
  gap: 120px;
}
.welcome-heading {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 3;
  padding-top: 50px;
}
.welcome-heading h1 {
  font-weight: 700;
  margin-bottom: 30px;
}
.welcome-heading h1 span {
  display: block;
  font-size: inherit;
}
.welcome-heading h1 span em {
  font-size: inherit;
  color: #1d4ed8;
}
.welcome-heading h3 {
  line-height: 1.5em;
  color: #555;
}
.welcome-img {
  flex: 7;
}
.welcome-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #################### Section : About #################### */
.about-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-end;
  padding-bottom: 220px;
}
.about-content .headline-share {
  width: 100%;
}
.about-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  width: 70%;
}
.about-icons img {
  width: 64px;
}
.about-text {
  display: flex;
  gap: 80px;
}
.about-text .line {
  width: 200px;
  height: 2px;
  background: #1d4ed8;
}
.about-text h4 {
  color: #555;
}
.about-text h4 span {
  font-weight: 500;
  color: #222;
}

/* #################### Section : service #################### */
.service {
  background: #f0f4ff;
  padding-bottom: 60px;
  overflow-x: hidden;
}
.service-content .headline-share {
  text-align: center;
  padding-bottom: 80px;
}
.service-tab-btns {
  display: flex;
}
.service-tab-btn {
  flex: 1;
  text-align: center;
  border-bottom: 4px solid #d3d3d3;
  opacity: 0.65;
  cursor: pointer;
}
.service-tab-btn.active {
  border-bottom: 4px solid #1d4ed8;
  opacity: 1;
}
.service-tab-btn > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.service-tab-btn > div img {
  width: 40px;
}
.service-tab-btn > div h3 {
  font-weight: 700;
}
.service-tab {
  width: 100%;
  display: none;
}
.service-tab.active {
  display: block;
}
/* Slick Slider */
.service-slider {
  width: 90%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
/* .service-slider {
  width: 100%;
} */
.service-slider img {
  width: 100%;
  object-fit: cover;
}
.service-slider .slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.service-slider .slick-dots > li {
  width: 100%;
  height: 30%;
  padding: 20px 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
.service-slider .slick-dots > li button {
  display: none;
}
.service-slider .slick-dots > li.slick-active {
  background: #1d4ed8;
  color: #fff;
}
.service-slider .slick-dots > li:after {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}
/* tab01 - slick-dots */
.service-tab.tab01 .service-slider .slick-dots > li:nth-child(1):before {
  content: "실시간 공동작업";
}
.service-tab.tab01 .service-slider .slick-dots > li:nth-child(2):before {
  content: "클라우드 파일로 동시협업";
}
.service-tab.tab01 .service-slider .slick-dots > li:nth-child(3):before {
  content: "음성 커뮤니케이션";
}
.service-tab.tab01 .service-slider .slick-dots > li:nth-child(1):after {
  content: "몸은 멀리 떨어져 있어도 실시간으로 작업하세요!";
}
.service-tab.tab01 .service-slider .slick-dots > li:nth-child(2):after {
  content: "PDF, 엑셀, 이미지 등 다양한 파일을 공유할 수 있어요.";
}
.service-tab.tab01 .service-slider .slick-dots > li:nth-child(3):after {
  content: "음성만을 사용해 더 효율적인 미팅을 진행하세요.";
}
/* tab02 - slick-dots */
.service-tab.tab02 .service-slider .slick-dots > li:nth-child(1):before {
  content: "간단한 화면 래코딩";
}
.service-tab.tab02 .service-slider .slick-dots > li:nth-child(2):before {
  content: "테스트 매니징";
}
.service-tab.tab02 .service-slider .slick-dots > li:nth-child(3):before {
  content: "피드백 리포트 자동생성";
}
.service-tab.tab02 .service-slider .slick-dots > li:nth-child(1):after {
  content: "단 한번의 클릭으로 화면녹화 등 문서를 업로드 해보세요.";
}
.service-tab.tab02 .service-slider .slick-dots > li:nth-child(2):after {
  content: "피드백을 테스크로 만들어 진행상황을 관리해보세요.";
}
.service-tab.tab02 .service-slider .slick-dots > li:nth-child(3):after {
  content: "리포트를 3초만에 만들어 링크로 공유해보세요.";
}
.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
  padding: 12px;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #fff;
}

/* #################### Section : partners #################### */
.partners {
  background: url(images/partners-bg.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 120px;
}
.partners-content .headline-share * {
  text-align: center;
  color: #fff;
}
.partners-items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 50px;
}
.partners-items img {
  width: 18%;
}

/* #################### Footer #################### */
footer {
  background: #f0f4ff;
}
.footer-content {
  padding-top: 80px;
  padding-bottom: 90px;
}
.footer-content .logo {
  padding-bottom: 40px;
  opacity: 0.8;
}
.footer-content .logo img {
  width: 145px;
  filter: grayscale(1);
}
.copyright {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.copyright .address span {
  display: block;
  margin-bottom: 10px;
}
.copyright .policy a {
  margin-left: 10px;
}
.copyright .policy a:hover {
  text-decoration: underline;
}

/* ################### Sub Page Modal : strum, issuenote ################### */
.product-main {
  padding-top: 120px;
  padding-bottom: 140px;
}
.main-content {
  display: flex;
  gap: 100px;
}
.main-content .main-heading {
  padding-top: 40px;
  flex: 2;
}
.main-content .main-heading h1 {
  font-weight: 700;
  zoom: 1.2;
}
.main-content .main-heading h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.main-content .main-heading p {
  width: 90%;
  margin: auto;
  color: #555;
}
.main-content div {
  flex: 3;
}
.main-content div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info {
  background: url(images/strum-info-bg.jpg);
}
.info-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: auto;
}
.info-content h3 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}
.info-content h3 span {
  color: inherit;
  font-size: inherit;
  font-weight: 500;
  zoom: 1.2;
}
.product-solution {
  padding-bottom: 140px;
  background: #f3f4f6;
}
.solution-headline {
  text-align: center;
  margin-bottom: 80px;
}
.solution-items {
  display: flex;
  gap: 160px;
}
.solution-item {
  text-align: center;
}
.solution-item-image {
  margin-bottom: 40px;
}
.solution-item-desc h3 {
  width: 75%;
  margin: auto;
}
.solution-item-desc h3 span {
  font-size: inherit;
  font-weight: 700;
}
.solution-item-desc p {
  color: #555;
}
.detail-headline {
  text-align: center;
  margin-bottom: 80px;
}
.detail-item {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-bottom: 80px;
}
.detail-item-desc h4 {
  color: #439cef;
  font-weight: 500;
}
.detail-item-desc h3 {
  font-weight: 700;
  margin-top: 30px;
}
.detail-item-desc p {
  color: #555;
  font-weight: 300;
}
.detail-item .detail-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-promote {
  background: #439cef;
  padding-top: 120px;
  padding-bottom: 140px;
}
.promote-content {
  display: flex;
  align-items: center;
  gap: 80px;
}
.promote-content .detail-item-image {
  flex: 5;
}
.promote-content .detail-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promote-desc {
  flex: 3;
}
.promote-desc h4,
.promote-desc h3,
.promote-desc p {
  color: #fff;
}
.promote-desc h3 {
  font-weight: 500;
}
/* Featherlight CSS */
.featherlight .featherlight-close-icon {
  background: transparent;
}
.featherlight .featherlight-content {
  border-bottom: 0;
}

/* ==================== Scroll Reveal CSS Animation ==================== */
.ltr {
  animation: ltr 0.5s linear both;
}
.rtl {
  animation: rtl 0.5s linear both;
}
.utd {
  animation: utd 0.5s linear both;
}
@keyframes ltr {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes rtl {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes utd {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
